<div class="container d-flex flex-column" style="background: silver">
        <header>
            <b>Coding Pirates Helsinge - Python - Forår '18</b>
            <nav class="nav">
                <a class="nav-link" href="/">Forside</a>
                <a class="nav-link" href="/downloads.html">Downloads</a>
                <a class="nav-link" href="{{ hints.first.url }}">Hints</a>
                <a class="nav-link" href="{{ solutions.first.url }}">Løsninger</a>
            </nav>
        </header>
    </div>
